.graf {
  background-color: #edede9;
  border: 1px solid #d6ccc2;
  margin: 0;
}

.backdrop {
  fill: #ccc;
  stroke: #777;
}

.axis {
  font-size: 10pt;
}

.titulo {
  font-size: 10pt;
  font-weight: bold;
}
h1, footer{
  margin: 20pt;
}
.rectangle:hover {
  opacity: 0.66;
}

#tooltip {
  background-color: #aaa;
  padding: 0px;
  border: 1px solid #555;
  position: relative;
  width: 150px;
  margin: 0px;

}

#tooltip .estado {
  font-size: 13px;
  text-align: center;
  margin: 0;
}

#tooltip .estado-data {
  color: #eee;
  font-size: 10px;
}

#estado{
  margin: 0;
}